$white: #fff;
$fix-mint: rgb(176,215,209);
$dark-grey: rgb(71,71,73);
$dark-grey-75: rgba(71,71,73,0.75);
$medium-grey: rgb(189,191,193);
$light-grey: rgb(239,239,240);
$fix-citron: rgb(238,226,73);

