pre ::-moz-selection {
  background: #efeff0;
  color: #474749;
  text-shadow: none; }

pre ::selection {
  background: #efeff0;
  color: #474749;
  text-shadow: none; }

pre code {
  display: block;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0);
  color: #efeff0; }

pre .body,
pre .collection {
  color: #efeff0; }

pre .comment {
  color: #bdbfc1;
  font-style: italic; }

pre .template_comment {
  color: #bdbfc1;
  font-style: italic; }

pre .diff .header {
  color: #bdbfc1;
  font-style: italic; }

pre .doctype {
  color: #bdbfc1;
  font-style: italic; }

pre .lisp .string {
  color: #bdbfc1;
  font-style: italic; }

pre .javadoc {
  color: #bdbfc1;
  font-style: italic; }

pre .keyword {
  color: white; }

pre .clojure .attribute {
  color: white; }

pre .winutils {
  color: white; }

pre .javascript .title {
  color: white; }

pre .addition {
  color: white; }

pre .css .tag {
  color: white; }

pre .number {
  color: #f99157; }

pre .command {
  color: #8abeb7; }

pre .string {
  color: #8abeb7; }

pre .tag .value {
  color: #8abeb7; }

pre .phpdoc {
  color: #8abeb7; }

pre .tex .formula {
  color: #eee8d5; }

pre .regexp {
  color: #8abeb7; }

pre .hexcolor {
  color: #8abeb7; }

pre .title {
  color: #b0d7d1; }

pre .localvars {
  color: #b0d7d1; }

pre .function .title {
  color: #b0d7d1; }

pre .chunk {
  color: #b0d7d1; }

pre .decorator {
  color: #b0d7d1; }

pre .built_in {
  color: #b0d7d1; }

pre .lisp .title {
  color: #bfb312; }

pre .identifier {
  color: #b0d7d1; }

pre .class .keyword {
  color: #eee249; }

pre .variable {
  color: #bfb312; }

pre .lisp .body {
  color: #bfb312; }

pre .smalltalk .number {
  color: #bfb312; }

pre .constant {
  color: #bfb312; }

pre .class .title {
  color: #bfb312; }

pre .parent {
  color: #bfb312; }

pre .haskell .label {
  color: #bfb312; }

pre .id {
  color: #bfb312; }

pre .lisp .title {
  color: #bfb312; }

pre .clojure .title .built_in {
  color: #bfb312; }

pre .tag .title,
pre .rules .property,
pre .django .tag .keyword,
pre .clojure .title .built_in {
  font-weight: bold; }

pre .attribute {
  color: #81a2be; }

pre .clojure .title {
  color: #81a2be; }

pre .preprocessor {
  color: #6cb5aa; }

pre .pi {
  color: #6cb5aa; }

pre .shebang {
  color: #6cb5aa; }

pre .symbol {
  color: #6cb5aa; }

pre .symbol .string {
  color: #6cb5aa; }

pre .diff .change {
  color: #6cb5aa; }

pre .special {
  color: #6cb5aa; }

pre .attr_selector {
  color: #6cb5aa; }

pre .important {
  color: #6cb5aa; }

pre .subst {
  color: #6cb5aa; }

pre .cdata {
  color: #6cb5aa; }

pre .deletion {
  color: #dc322f; }

pre .tex .formula {
  background: #eee8d5; }

pre {
  counter-reset: lines; }

pre .line {
  counter-increment: lines; }

pre .line::before {
  content: counter(lines);
  text-align: right;
  display: inline-block;
  width: 2em;
  padding-right: 0.5em;
  margin-right: 0.5em;
  color: #151515; }

pre .line-callout::before {
  content: '\2192';
  text-align: right;
  display: inline-block;
  width: 2em;
  padding-right: 0.5em;
  margin-right: 0.5em;
  color: white; }

.lines-callout {
  border-radius: 0.25em;
  padding-top: 0.15em;
  padding-bottom: 0.15em; }

.lines-callout {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  background-color: #151515;
  background: -webkit-linear-gradient(left, #151515, #2e2e2f); }
