
@font-face {
  font-family:"Avenir LT W01 45 Book";
  src:font-url("721226/4f32268ffd864960b72c4bb1ba75ec6f.eot?#iefix");
  src:font-url("721226/4f32268ffd864960b72c4bb1ba75ec6f.eot?#iefix") format("eot"),
      font-url("721226/939cba035b404d019bc57589eca863db.woff") format("woff"),
      font-url("721226/849bc5b9a2ff4343977b26ba8bd24a60.ttf") format("truetype"),
      font-url("721226/f67fa3b5c1d1488f8e60a828b9ad56a4.svg#f67fa3b5-c1d1-488f-8e60-a828b9ad56a4") format("svg");
}

//@font-face {
//  font-family:"AvenirLTW01-45BookObliq";
//  src:font-url("721229/acc13cdc338a43e6a156e54a4c87582d.eot?#iefix");
//  src:font-url("721229/acc13cdc338a43e6a156e54a4c87582d.eot?#iefix") format("eot"),
//      font-url("721229/ca94ed5618fc4856940a70a072607c7c.woff") format("woff"),
//      font-url("721229/dd6da40770fe4aa3a1c764f0cb086f01.ttf") format("truetype"),
//      font-url("721229/c7f424be90e145b8b617ee3589a859bd.svg#c7f424be-90e1-45b8-b617-ee3589a859bd") format("svg");
//}

@font-face {
  font-family:"Avenir LT W01 65 Medium";
  src:font-url("721238/212ab03d5db24d6ab94c171cc702aa51.eot?#iefix");
  src:font-url("721238/212ab03d5db24d6ab94c171cc702aa51.eot?#iefix") format("eot"),
      font-url("721238/2cac77ec9bc04ee787e427650190744f.woff") format("woff"),
      font-url("721238/aaf11848aac24d099a9caac5ff7b8ff4.ttf") format("truetype"),
      font-url("721238/294099f38d004676afc55e9d8d43ad69.svg#294099f3-8d00-4676-afc5-5e9d8d43ad69") format("svg");
}

@font-face{
  font-family:"Avenir LT W01 85 Heavy";
  src:font-url("721244/f61bf0f6c1934100b94012a1a01dcee5.eot?#iefix");
  src:font-url("721244/f61bf0f6c1934100b94012a1a01dcee5.eot?#iefix") format("eot"),
      font-url("721244/7147ec3a8ff84ec98c5cbd1571dc6ae6.woff") format("woff"),
      font-url("721244/d1dc54b2878d46938d6eb442e99fef68.ttf") format("truetype"),
      font-url("721244/731dd4d364da427dba6101575b3cf3f7.svg#731dd4d3-64da-427d-ba61-01575b3cf3f7") format("svg");
}


//@font-face {
//  font-family:"AvenirLTW01-65MediumObl";
//  src:font-url("721241/2a6f81a2475c4831994933d7748ee561.eot?#iefix");
//  src:font-url("721241/2a6f81a2475c4831994933d7748ee561.eot?#iefix") format("eot"),
//      font-url("721241/e0af2f49a399482ba54ed745e268ec80.woff") format("woff"),
//      font-url("721241/6803d3dd210745fcac8aa4fa13771547.ttf") format("truetype"),
//      font-url("721241/1bb1acb58d4e480088afdbcf1fe96ef8.svg#1bb1acb5-8d4e-4800-88af-dbcf1fe96ef8") format("svg");
//}

@font-face {
  font-family:"Serifa W01 45 Light";
  src:font-url("788315/8a261be067b04281b1bf59158330a8e8.eot?#iefix");
  src:font-url("788315/8a261be067b04281b1bf59158330a8e8.eot?#iefix") format("eot"),
      font-url("788315/58356123ed4a48119750616ce4e42a42.woff") format("woff"),
      font-url("788315/6874f5062772443ab9d2d1f8d75d57eb.ttf") format("truetype"),
      font-url("788315/33213fecd300419f8bfea6047634742b.svg#33213fec-d300-419f-8bfe-a6047634742b") format("svg");
}

@font-face {
  font-family:"Serifa W01 55 Roman";
  src:font-url("788321/ea7ab949b653455194573a4ccc00d16a.eot?#iefix");
  src:font-url("788321/ea7ab949b653455194573a4ccc00d16a.eot?#iefix") format("eot"),
      font-url("788321/675fde2f85734f91bea3266fb7ab1888.woff") format("woff"),
      font-url("788321/ebee6742993a4386b7c3d51f3ab65784.ttf") format("truetype"),
      font-url("788321/b70296e797104609960796bdb82c138a.svg#b70296e7-9710-4609-9607-96bdb82c138a") format("svg");
}

